extends ../layout/base
block content   
    section.content
        .card.card-primary.card-outline
            .card-header(style="background-color:white;")
                .card-title
                    h5 Data Pengamatan Sungai
                .card-tools
                    button#addBtn.btn.btn-info(type="button" data-toggle='modal' data-target='#addData') Add Data
            .card-body 
                .row          
                    .col-md-4
                        .form-group
                            label(for="startDate").col-md-12.control-label Start Date
                            .col-md-12
                                input(type="date" name="startDate" id="startDate").form-control
                        .form-group
                            label(for="endDate").col-md-12.control-label End Date
                            .col-md-12
                                input(type="date" name="endDate" id="endDate").form-control
                        //- .row
                        .form-group
                            label(for="valueStart").col-md-4.control-label Value Start
                            label(for="valueEnd").col-md-4.control-label Value End
                            .row(style="margin:0px;")
                                .col-md-4
                                    input(type="text" name="valueStart" id="valueStart").form-control
                                .col-md-4
                                    input(type="text" name="valueEnd" id="valueEnd").form-control
                                .col-md-3
                                    select.form-control(id="valueChoose" name="valueChoose")
                                        option(value="tma") TMA
                                        option(value="vair") LAJU
                                        option(value="ch") CH
                        .form-group
                            .row(style="margin:0px;")

                                label(for="siteChoose").col-md-12.control-label Site
                                .col-md-6
                                    select.custom-select.form-control#siteChoose
                                        for site in dataSite
                                            option(value="#{site.site}") #{site.pos}
                                .col-sm-6
                                    input(type="submit" value="Search").btn.btn-primary.form-control#btnSearch
                        //- .row(style="margin:0px")
                        //-     .col-md-12
                        //-         input(type="submit" value="Download")#export.btn.btn-primary.form-control.mb-2
                    .col-md-8
                        .card(style="padding:10px")
                            table.dataTable.table-striped(style="width:100%")
                .row
                    .col-md-4
                    .col-md-8
                        .card(style="padding:10px")
                            table.dataTableTemp.table-striped(style="width:100%")


        .card.card-primary.card-outline
            .card-header(style="background-color:white;")
                h5 Data Pengamatan Catu Daya
            .card-body                    
                .row
                    .col-md-4
                        .form-group
                            label(for="startDate").col-md-12.control-label Start Date
                            .col-md-12
                                input(type="date" name="startDateDpcd" id="startDateDpcd").form-control
                        .form-group
                            label(for="endDate").col-md-12.control-label End Date
                            .col-md-12
                                input(type="date" name="endDateDpcd" id="endDateDpcd").form-control
                        .row(style="margin:0px")
                            .col-md-6
                                input(type="submit" value="Search").btn.btn-primary.form-control#btnSearchDpcd
                            //- .col-md-6
                            //-         input(type="submit" value="Download")#exportDpcd.btn.btn-primary.form-control.mb-2
                    .col-md-8
                        .card(style="padding:10px")
                            table.dataTableDpcd.table-striped(style="width:100%")

        #addData.modal.fade(role='dialog')
            .modal-dialog
                .modal-content
                    // Modal Header
                    .modal-header
                        h4.modal-title ADD DATA
                        button.close(type='button' data-dismiss='modal') ×
                    // Modal body
                    .modal-body
                        .form-group.row
                            label.col-sm-4.col-form-label(for='inputSite' require) SITE
                            .col-sm-8
                                 select.custom-select.form-control#inputSite
                                        for site in dataSite
                                            option(value="#{site.site}") #{site.pos}
                        .form-group.row
                            label.col-sm-4.col-form-label(for='inputDate' require) Datetime
                            .col-sm-8
                                input#inputDate.form-control(type='date' require)
                         .form-group.row
                            label.col-sm-4.col-form-label(for='inputTime' require) Datetime
                            .col-sm-8
                                input#inputTime.form-control(type='time' require)
                        .form-group.row
                            label.col-sm-4.col-form-label(for='inputTma') TMA
                            .col-sm-8
                                input#inputTma.form-control(type='text' require)


                    .modal-footer
                        button.btn.btn-primary(type='button' data-dismiss='modal') Close
                        button#btnSave.btn.btn-primary(type='button' onclick='save()' data-dismiss='modal') Save


block script
    script.
        var socket=io.connect(BASE_URL)
        var dataDps= !{results}.dps
        var dataDpsTemp= !{results}.dpsTemp
        var dataSite= !{results}.dataSite
        var oldDps= !{results}.oldDps
        var newDps= !{results}.newDps

    script(src='/js/tableData.js')
    script(src='/js/views/dataAdmin.js')
    //- script.
      