extends ../layout/base
block content   
    section.content
        .card.card-primary.card-outline
            .card-header(style="background-color:white;")
                .card-title
                    h5 Data Pengamatan Sungai
                .card-tools
                    button#addBtn.btn.btn-info(type="button" data-toggle='modal' data-target='#addData') Add Data
            .card-body 
                .row          
                    .col-md-4
                        .form-group
                            label(for="startDate").col-md-12.control-label Start Date
                            .col-md-12
                                input(type="date" name="startDate" id="startDate").form-control
                        .form-group
                            label(for="endDate").col-md-12.control-label End Date
                            .col-md-12
                                input(type="date" name="endDate" id="endDate").form-control
                        //- .row
                        .form-group
                            label(for="valueStart").col-md-4.control-label Value Start
                            label(for="valueEnd").col-md-4.control-label Value End
                            .row(style="margin:0px;")
                                .col-md-4
                                    input(type="text" name="valueStart" id="valueStart").form-control
                                .col-md-4
                                    input(type="text" name="valueEnd" id="valueEnd").form-control
                                .col-md-3
                                    select.form-control(id="valueChoose" name="valueChoose")
                                        option(value="tma") TMA
                                        option(value="vair") LAJU
                                        option(value="ch") CH
                        .form-group
                            .row(style="margin:0px;")

                                label(for="siteChoose").col-md-12.control-label Site
                                .col-md-6
                                    select.custom-select.form-control#siteChoose
                                        for site in dataSite
                                            option(value="#{site.site}") #{site.pos}
                                .col-sm-6
                                    input(type="submit" value="Search").btn.btn-primary.form-control#btnSearch
                        //- .row(style="margin:0px")
                        //-     .col-md-12
                        //-         input(type="submit" value="Download")#export.btn.btn-primary.form-control.mb-2
                    .col-md-8
                        .card(style="padding:10px")
                            table.dataTable.table-striped(style="width:100%")


        .card.card-primary.card-outline
            .card-header(style="background-color:white;")
                h5 Data Pengamatan Catu Daya
            .card-body                    
                .row
                    .col-md-4
                        .form-group
                            label(for="startDate").col-md-12.control-label Start Date
                            .col-md-12
                                input(type="date" name="startDateDpcd" id="startDateDpcd").form-control
                        .form-group
                            label(for="endDate").col-md-12.control-label End Date
                            .col-md-12
                                input(type="date" name="endDateDpcd" id="endDateDpcd").form-control
                        .row(style="margin:0px")
                            .col-md-6
                                input(type="submit" value="Search").btn.btn-primary.form-control#btnSearchDpcd
                            //- .col-md-6
                            //-         input(type="submit" value="Download")#exportDpcd.btn.btn-primary.form-control.mb-2
                    .col-md-8
                        .card(style="padding:10px")
                            table.dataTableDpcd.table-striped(style="width:100%")

        #addData.modal.fade(role='dialog')
            .modal-dialog
                .modal-content
                    // Modal Header
                    .modal-header
                        h4.modal-title ADD DATA
                        button.close(type='button' data-dismiss='modal') ×
                    // Modal body
                    .modal-body
                        .form-group.row
                            label.col-sm-4.col-form-label(for='inputSite' require) SITE
                            .col-sm-8
                                 select.custom-select.form-control#inputSite
                                        for site in dataSite
                                            option(value="#{site.site}") #{site.pos}
                        .form-group.row
                            label.col-sm-4.col-form-label(for='inputDate' require) Datetime
                            .col-sm-8
                                input#inputDate.form-control(type='date' require)
                         .form-group.row
                            label.col-sm-4.col-form-label(for='inputTime' require) Datetime
                            .col-sm-8
                                input#inputTime.form-control(type='time' require)
                        .form-group.row
                            label.col-sm-4.col-form-label(for='inputTma') TMA
                            .col-sm-8
                                input#inputTma.form-control(type='text' require)


                    .modal-footer
                        button.btn.btn-primary(type='button' data-dismiss='modal') Close
                        button#btnSave.btn.btn-primary(type='button' onclick='save()' data-dismiss='modal') Save


block script
    script.
        var socket=io.connect(BASE_URL)
        var dataDps= !{results}.dps
        var dataSite= !{results}.dataSite

    script(src='/js/main.js')
    script.
        var sd = $("#startDate").val('2019-12-01');
        var ed = $("#endDate").val('2020-12-01');
        var vs = $("#valueStart").val('0');
        var ve = $("#valueEnd").val('999');
        var vc = $("#valueChoose").val('tma')

        function save(){
            dataSave = {
                site : $('#inputSite').val(),
                dt : `${$('#inputDate').val()}T${$('#inputTime').val()}`,
                tma : $('#inputTma').val()
            }

            socket.emit('saveNewDataDps',dataSave)
            console.log(dataSave)
        }

        function kodest(kodeSite){
            var st;
            dataSite.forEach((data)=>{
                if(data.site==kodeSite){
                    st = data.pos 
                }
            })
            return st
        }


        plotTblDps(dataDps)
        $('#btnSearch').click(function(){
            var ds = $("#startDate").val();
            var de = $("#endDate").val();
            var vs = $("#valueStart").val();
            var ve = $("#valueEnd").val();
            var vc = $("#valueChoose").val();
            var site = $("#siteChoose").val();
            socket.emit('reqSearch',{ds:ds,de:de,vs:vs,vc:vc,ve:ve,site:site,id:socket.id})
            loadReq()

        })            
        socket.on('dataDpsReq',function(msg){
            succReq()
            if(msg.resp.length==0){
                alert("Data DPS tidak ditemukan!");
            }
            if(msg!='connected'){
                dataDps=msg.resp
            }

            plotTblDps(dataDps)

        })


        $('#btnSearchDpcd').click(function(){
            var ds = $("#startDateDpcd").val();
            var de = $("#endDateDpcd").val();
            socket.emit('reqSearchDpcd',{ds:ds,de:de,id:socket.id})

        })
        socket.on('DataDpcd',(data)=>{
            array=[data['221'],data['222'],data['223']]
            var data = [].concat.apply([], array)
            plotTblDpcd(data)
        })

        socket.on('dataDpcdReq',(data)=>{
            if(data.resp.length==0){
                alert("Data DPCD tidak ditemukan!");
            }
            plotTblDpcd(data.resp)

        })