extends ../layout/base
block content	
	section.content
			.row
				.col-md-6.col-sm-6
					.card
						.card-header: .card-title
								strong Pos Katulampa
						.card-body
							.row
								.col-4.border
									.row: .col-12.border Batterai Utama 
									.row: .col-12.border 
								.col-8
									.row 
										.col-6.border Updated DPS 
										.col-6.border.dtDpsKtlmp 
									.row 
										.col-6.border Updated DPCD 
										.col-6.border.dtDpcdKtlmp
									.row
										.col-6.border Tegangan 
										.col-6.border.vKtlmp 
									.row
										.col-6.border Estimasi
										.col-6.border.eDKtlmp
									.row
										.col-6.border Status
										.col-6.border.sCKtlmp
							.row
								.col-4.border TMA
								.col-4.border.tmaKtlmp
								.col-4.border.KondTmaKtlmp
							.row
								.col-4.border Laju Air
								.col-4.border.vKtlmp
								.col-4.border.KondVKtlmp
							.row
								.col-4.border Curah Hujan
								.col-4.border.chKtlmp
								.col-4.border.KondChKtlmp
				.col-md-6.col-sm-6
					.card
						.card-header:.card-title
								strong Pos Depok
						.card-body
							.row
								.col-4.border
									.row: .col-12.border Batterai Utama 
									.row: .col-12.border 
								.col-8
									.row 
										.col-6.border Updated DPS 
										.col-6.border.dtDpsKtlmp 
									.row 
										.col-6.border Updated DPCD 
										.col-6.border.dtDpcdKtlmp
									.row
										.col-6.border Tegangan 
										.col-6.border.vDpk 
									.row
										.col-6.border Estimasi
										.col-6.border.eDDpk
									.row
										.col-6.border Status
										.col-6.border.sCDpk
							.row
								.col-4.border TMA
								.col-4.border.tmaDpk
								.col-4.border.KondTmaDpk
							.row
								.col-4.border Laju Air
								.col-4.border.vDpk
								.col-4.border.KondVDpk
							.row
								.col-4.border Curah Hujan
								.col-4.border.chDpk
								.col-4.border.KondChDpk
				.col-md-6.col-sm-6
					.card
						.card-header:.card-title
								strong Pos Manggarai
						.card-body
							.row
								.col-4.border
									.row: .col-12.border Batterai Utama 
									.row: .col-12.border 
								.col-8
									.row 
										.col-6.border Updated DPS 
										.col-6.border.dtDpsKtlmp 
									.row 
										.col-6.border Updated DPCD 
										.col-6.border.dtDpcdKtlmp
									.row
										.col-6.border Tegangan 
										.col-6.border.vMgr 
									.row
										.col-6.border Estimasi
										.col-6.border.eDMgr
									.row
										.col-6.border Status
										.col-6.border.sCMgr
							.row
								.col-4.border TMA
								.col-4.border.tmaMgr
								.col-4.border.KondTmaMgr
							.row
								.col-4.border Laju Air
								.col-4.border.vMgr
								.col-4.border.KondVMgr
							.row
								.col-4.border Curah Hujan
								.col-4.border.chMgr
								.col-4.border.KondChMgr
				.col-md-6.col-sm-6
					.card
						.card-header:.card-title
								strong Pos Wawar
						.card-body
							.row
								.col-4.border
									.row: .col-12.border Batterai Utama 
									.row: .col-12.border 
								.col-8
									.row 
										.col-6.border Updated DPS 
										.col-6.border.dtDpsKtlmp 
									.row 
										.col-6.border Updated DPCD 
										.col-6.border.dtDpcdKtlmp
									.row
										.col-6.border Tegangan 
										.col-6.border.vWwr 
									.row
										.col-6.border Estimasi
										.col-6.border.eDWwr
									.row
										.col-6.border Status
										.col-6.border.sCWwr
							.row
								.col-4.border TMA
								.col-4.border.tmaWwr
								.col-4.border.KondTmaWwr
							.row
								.col-4.border Laju Air
								.col-4.border.vWwr
								.col-4.border.KondVWwr
							.row
								.col-4.border Curah Hujan
								.col-4.border.chWwr
								.col-4.border.KondChWwr

		.row
			.col-md-8
					.card
						#vChart
					.card
						#iChart 

			.col-md-4
				.card
					.btn-group(role="group")
						button#optionChartKtlmp.btn.btn-primary Ktlmp
						button#optionChartDpk.btn.btn-primary Dpk
						button#optionChartMgr.btn.btn-primary Mgr
						button#optionChartWwr.btn.btn-primary Wwr
				.card
					.card-header LAST RECORD
					.card-body
						table.table
							tr: td Datetime
								td.dt
							tr: td Lux
								td.lx 
							tr: td Daya Solar Panel
								td.p
							tr: td Suhu Logger
								td.t
							tr: td Watt Peak
								td.wp

						table.table.table-bordered
							thead
								td Titik :
								td V 
								td I 
							tbody
								tr
									td Panel Regulator
									td.vpr
									td.ipr
								tr
									td Regulator Baterai
									td.vrb
									td.irb
								tr
									td Batterai Regulator
									td.vbr
									td.ibr
								tr
									td Regulator Beban
									td.vrb
									td.irb



block script
	script.
		var socket = io.connect(BASE_URL);
		
		var layout = {
			title: "Data Pengamatan ",
			showlegend: true,
			xaxis: {
				showgrid: true,
				zeroline: true,
				showline: false,
				mirror: "ticks",
				gridcolor: "#bdbdbd",
				gridwidth: 2,
				zerolinecolor: "#969696",
				zerolinewidth: 4,
				linecolor: "#636363",
				linewidth: 6
				},
		};
		vpr=[]; vbr=[]; vrb=[]; vrl=[]; x=[];
		ipr=[]; ibr=[]; irb=[]; irl=[]; x=[];
		vPlot=[
			{"type" : "line","name" : "V PR","y":vpr,"x":x },
			{"type" : "line","name" : "V BR","y":vbr,"x":x },
			{"type" : "line","name" : "V RB","y":vrb,"x":x },
			{"type" : "line","name" : "V RL","y":vrl,"x":x }]
		iPlot=[
			{"type" : "line","name" : "V PR","y":ipr,"x":x },
			{"type" : "line","name" : "V BR","y":ibr,"x":x },
			{"type" : "line","name" : "V RB","y":irb,"x":x },
			{"type" : "line","name" : "V RL","y":irl,"x":x }]

		var kond	
		var kondData = (kond)=>{
			return kond==1000 ? 'valid' :
			kond==1001 ? 'Null' :
			kond==1002 ? 'Error' :
			'Empty'
		}

		socket.on('DataDpcd',(msg)=>{
		
			var dpcdKtlmp=msg['221'][0]
			var dpcdDpk=msg['222'][0]
			var dpcdMgr=msg['223'][0]
			var dpcdWwr=msg['331'][0]
				//dt DPCD
				$('.dtDpcdKtlmp').text(dpcdKtlmp.dt)
				$('.dtDpcdDpk').text(dpcdDpk.dt)
				$('.dtDpcdMgr').text(dpcdMgr.dt)
				$('.dtDpcdWwr').text(dpcdWwr.dt)
				//vbr
				$('.vKtlmp').text(dpcdKtlmp.vbr[0])
				$('.vDpk').text(dpcdDpk.vbr[0])
				$('.vMgr').text(dpcdMgr.vbr[0])
				$('.vWwr').text(dpcdWwr.vbr[0])
				//estimasi
				$('.eDKtlmp').text(dpcdKtlmp.vbr[0])
				$('.eDDpk').text(dpcdDpk.vbr[0])
				$('.eDMgr').text(dpcdMgr.vbr[0])
				$('.eDWwr').text(dpcdWwr.vbr[0])
				//sttus
				$('.sCKtlmp').text(dpcdKtlmp.stc)
				$('.sCDpk').text(dpcdDpk.stc)
				$('.sCMgr').text(dpcdMgr.stc)
				$('.sCWwr').text(dpcdWwr.stc)
		})

		socket.on('newestDps',(msg)=>{
			var dataNewestDps=msg.newestDps
			var dpsKtlmp=dataNewestDps.filter(x=>x.site==221)[0]
			var dpsDpk=dataNewestDps.filter(x=>x.site==222)[0]
			var dpsWwr=dataNewestDps.filter(x=>x.site==223)[0]
			var dpsMgr=dataNewestDps.filter(x=>x.site==331)[0]
			
			//dt
			$('.dtDpsKtlmp').text(dpsKtlmp.dt)
			$('.dtDpsDpk').text(dpsDpk.dt)
			$('.dtDpsMgr').text(dpsMgr.dt)
			$('.dtDpsWwr').text(dpsWwr.dt)

			//tma Kond
			$('.KondTmaKtlmp').text(kondData(dpsKtlmp.tma[1]))
			$('.KondTmaDpk').text(kondData(dpsDpk.tma[1]))
			$('.KondTmaMgr').text(kondData(dpsMgr.tma[1]))
			$('.KondTmaWwr').text(kondData(dpsWwr.tma[1]))
			//vair kon
			$('.KondVKtlmp').text(kondData(dpsKtlmp.vair[1]))
			$('.KondVDpk').text(kondData(dpsDpk.vair[1]))
			$('.KondVMgr').text(kondData(dpsMgr.vair[1]))
			$('.KondVWwr').text(kondData(dpsWwr.vair[1]))
			//ch kond
			$('.KondChKtlmp').text(kondData(dpsKtlmp.ch[1]))
			$('.KondChDpk').text(kondData(dpsDpk.ch[1]))
			$('.KondChMgr').text(kondData(dpsMgr.ch[1]))
			$('.KondChWwr').text(kondData(dpsWwr.ch[1]))
			//VALUE tma
			$('.tmaKtlmp').text(dpsKtlmp.tma[0])
			$('.tmaDpk').text(dpsDpk.tma[0])
			$('.tmaMgr').text(dpsMgr.tma[0])
			$('.tmaWwr').text(dpsWwr.tma[0])
			//vair VALUE
			$('.vKtlmp').text(dpsKtlmp.vair[0])
			$('.vDpk').text(dpsDpk.vair[0])
			$('.vMgr').text(dpsMgr.vair[0])
			$('.vWwr').text(dpsWwr.vair[0])
			//ch VALUE
			$('.chKtlmp').text(dpsKtlmp.ch[0])
			$('.chDpk').text(dpsDpk.ch[0])
			$('.chMgr').text(dpsMgr.ch[0])
			$('.chWwr').text(dpsWwr.ch[0])

		})

		socket.on('DataDpcd',(dpcd)=>{
			function chart(site){
				vpr=[]; vbr=[]; vrb=[]; vrl=[]; x=[];
				ipr=[]; ibr=[]; irb=[]; irl=[]; x=[];
				vPlot=[
					{"type" : "line","name" : "V PR","y":vpr,"x":x },
					{"type" : "line","name" : "V BR","y":vbr,"x":x },
					{"type" : "line","name" : "V RB","y":vrb,"x":x },
					{"type" : "line","name" : "V RL","y":vrl,"x":x }]
				iPlot=[
					{"type" : "line","name" : "I PR","y":ipr,"x":x },
					{"type" : "line","name" : "I BR","y":ibr,"x":x },
					{"type" : "line","name" : "I RB","y":irb,"x":x },
					{"type" : "line","name" : "I RL","y":irl,"x":x }]


				data = dpcd[site];

				data.forEach((data)=>{
					vbr.push(data.vbr[0])
					vrb.push(data.vrb[0])
					vpr.push(data.vpr[0])
					vrl.push(data.vrl[0])
					ibr.push(data.ibr[0])
					irb.push(data.irb[0])
					ipr.push(data.ipr[0])
					irl.push(data.irl[0])
					x.push(data.dt)
				})
				Plotly.newPlot('vChart', vPlot, layout,{responsive: true});
				Plotly.newPlot('iChart', iPlot, layout,{responsive: true});
			}
			function lastrecord(site){
				data=dpcd[site][0]
				$('.dt').text(data.dt)
				$('.lx').text(data.lx[0])
				$('.t').text(data.t[0])
				$('.vpr').text(data.vpr[0])
				$('.vbr').text(data.vbr[0])
				$('.vrb').text(data.vrb[0])
				$('.vrl').text(data.vrl[0])
				$('.ipr').text(data.ipr[0])
				$('.ibr').text(data.ibr[0])
				$('.irb').text(data.irb[0])
				$('.irl').text(data.irl[0])
			}

			chart(221);
			lastrecord(221);
			$('#optionChartKtlmp').click(()=>{
				chart(221)
				lastrecord(221);
			})
			$('#optionChartDpk').click(()=>{
				chart(222)
				lastrecord(222);
			})
			$('#optionChartMgr').click(()=>{
				chart(223)
				lastrecord(223);
			})
			$('#optionChartWwr').click(()=>{
				chart(331)
				lastrecord(331);
			})

		})