extends layout/base
block content
    .card
        .card-header
            h5.card-title Realtime
            .card-tools
                button.btn.btn-tool(data-card-widget="collapse")
                    i.fas.fa-minus
                button.btn.btn-tool(type="button" data-toggle='modal' data-target='#myModal')
                    i.fas.fa-question
        .card-body
            .row
                .col-md-9
                    .text-center
                        i.far.fa-chart-bar
                            strong CHART REALTIME 
                                span#siteName
                    .card.card-primary.card-outline
                        #chart(style="width:100%; height:400px")
                .col-md-3
                    .text-center
                        strong LAST RECORD
                    .row
                        .col-8
                            input(type='date' value='2019-12-07').form-control#dateReq
                            select.custom-select.form-control#optSite
                                for site in siteData
                                    option(value="#{site.site}") #{site.pos}
                        .col-4
                            input(type='submit' value='GET' style='height:100%').form-control.btn-light#getBtn
           
                    .text-center.mt-4
                        strong STATUS SIAGA
                    .card.card-primary.card-outline(style="height:270px")
                        table.table#tblStts
                            tr
                                td update
                                td#dtUpdate
                            for site in siteData
                                tr 
                                    td #{site.pos}
                                    td(id='#{site.site}')

    .row
        .col-6
            .card.ml-2.card-primary.card-outline
                .card-header
                    strong Table
                .card-body
                    table.table#tblLastUpdate
                        thead
                            tr
                                td:.box 
                                    i.fas.fa-map-marker.w3-xlarge
                                    p SITE

                                td:.box
                                    i.far.fa-calendar.alt.w3-xlarge
                                    p Datetime
                                td:.box
                                    i.fas.fa-water.w3-xlarge
                                    p Tma
                                td:.box
                                    i.far.fa-calendar.alt.w3-xlarge
                                    p Vair
                                td:.box
                                    i.fas.fa-tint.w3-xlarge
                                    p ch
                        tbody#plotTabel
        .col-6
            .card.card-primary.card-outline
                .card-header(style="background-color:white;")
                    strong LOKASI
                //- .card-body
                #mapid(style="width:100%; height:310px")
        .col-12
            .card.card-primary.card-outline
                .card-header
                    strong TABLE REALTIME 
                        span#siteNameCok
                    .card-tools
                        button.btn.btn-tool(type="button" data-toggle='modal' data-target='#myModal')
                            i.fas.fa-question
                table(cellpadding="100").table.table-responsive.table-bordered
                    tbody
                        tr
                            thead.thead-dark
                                th.dt time
                        tr
                            thead.thead-dark
                                th.tma.thead-dark TMA
                        tr
                            thead.thead-dark
                                th.vair Laju Air
                        tr
                            thead.thead-dark
                                th.ch CH


    #myModal.modal
        .modal-dialog
            .modal-content
                .modal-header
                    | Threshold
                .modal-body
                    img(src="images/info.png" width="100%")
                .modal-footer
                    button.btn.btn-danger(type='button' data-dismiss='modal') Close

block script
    script.
        var socket = io.connect(BASE_URL);
        var datas= !{results}
        var lastDataSite= !{results}.one
        var siteData= datas.siteData
    script.
        var date = $('#dateReq').val();
        var optSite = $('#optSite').val();
        socket.emit('beranda',{status:'connect',date:date,site:optSite})
        $('#siteNameCok').text('KATULAMPA')
        tabell(datas['221'],200,150,80,'KATULAMPA')
        socket.on('berandaData',function(msg){
            var stMd=msg.stMd;
            var optSite = $('#optSite').val();
            if(msg.data.dataRes.length==0){
                alert("Data tidak ditemukan!\n" +
                "Data hanya tersedia pada tanggal:\n" +
                "1/12/2019 hingga 7/12/2019");
            }else{
                var dataOptSite= siteData.filter((site)=>{return site.site==optSite})[0]
                tabell(msg.data.dataRes,dataOptSite.th[0],dataOptSite.th[1],dataOptSite.th[2],dataOptSite.pos.toUpperCase());
            }
            socket.emit('beranda',{status:'connect',date:date,site:optSite})
            
        })
        $('#getBtn').click(function(){
            var date = $('#dateReq').val();
            var optSite = $('#optSite').val();
            socket.emit('beranda',{date:date,site:optSite,status:'req'})
        })
        

        //Panel Last Data Table
        socket.on('newestDps',(data)=>{

            var dataNewestDps=data.newestDps
            var siteData=data.siteData
            

            plot(siteData,dataNewestDps)
            siteData.forEach((data)=>{
                var x = dataNewestDps.filter((x)=>{return x.site==data.site})[0]
                $(`#${data.site}`).html(': '+statusTma(x.tma[0],data.th[0],data.th[1],data.th[2]))
            })

            $('#dtUpdate').text(': '+dataNewestDps[0].dt.substring(0,16))
            

            $('#plotTabel').html(plotTabelLast(dataNewestDps,siteData))
        })







